beautifulsoup4==4.11.1
bs4==0.0.1
openai==1.3.2
urllib3
requests
jmespath
langchain
langchain-core
langchain-community
qdrant-client==1.7.0
multiprocess
tenacity
python-statemachine
argparse
cohere
streamlit
pypdf
html2text
tiktoken
faiss-cpu
psycopg2-binary
pydantic
matplotlib
ragas
datasets