beautifulsoup4
bs4==0.0.1
openai
urllib3
requests
jmespath
langchain==0.0.354
langchain-openai
langchain-community
langchain-core
qdrant-client==1.7.0
multiprocess
tenacity
python-statemachine
argparse
cohere
streamlit==1.30.0
pypdf
html2text
tiktoken
faiss-cpu
psycopg2-binary
pydantic
matplotlib
ragas
datasets
tabulate
tiktoken
slack-bolt
slack
aiohttp
httpx
apscheduler
lancedb
python-dotenv
prompt_toolkit